@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <h2>University Report Application</h2>
        <a href="@Url.Action("Index", "Professor")">Professors</a>
        <a href="@Url.Action("Index", "Faculty")">Faculties</a>
        <a href="@Url.Action("Index", "Department")">Departments</a>
        <a href="@Url.Action("Index", "Report")">Reports</a>
    </div>
</div>
